.btn {
    background-color: limegreen;
    color: white;
    border: 0;
    padding: .5rem 1rem;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5rem;
    a {
        color: white;
    }

}